NonPTA_HackAgent/My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "type": "direct-message",
        "pattern": "regex",
        "value": ".*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -160
      ],
      "id": "de52de36-cf69-4d7a-8462-ed3bbc34c094",
      "name": "On Discord DM",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "d3tNqEcUTLO5pSki",
          "name": "Redmi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://trigger.macrodroid.com/f09e6b58-4495-4d79-a084-3660896e0b0a/sendsms",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phoneNumbers ? $json.phoneNumbers[0].mobile[0].replace(/\\D/g, '') : $node[\"On Discord DM\"].json.content.split(\"\\n\")[0].replace(/\\D/g, '') }}"
            },
            {
              "name": "message",
              "value": "={{ $node[\"On Discord DM\"].json.content.split(\"\\n\").slice(1).join(\"\\n\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        -128
      ],
      "id": "52c43b79-0d9b-4864-8fcc-5ef2d091ad3a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9c1e5786-57e0-415c-8dcd-7ca03351484e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        144
      ],
      "id": "5b1f0e09-96cd-47df-a1c2-e170d40653f7",
      "name": "Webhook",
      "webhookId": "9c1e5786-57e0-415c-8dcd-7ca03351484e"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "930299818440540171",
          "mode": "list",
          "cachedResultName": "Ahmad Amjad's server",
          "cachedResultUrl": "https://discord.com/channels/930299818440540171"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "929372960043704340",
          "mode": "list",
          "cachedResultName": "ahmadamjad90800"
        },
        "content": "={{ $json.body.message ? '**New SMS Received!**' : '📞 **Incoming/Missed Call!**' }}\n**From:** {{ $json.body.name }} ({{ $json.body.number }})\n\n{{ $json.body.message ? '**Message:** ' + $json.body.message : '*No text (Voice Call)*' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        512,
        144
      ],
      "id": "11d22773-60bd-4de2-8a87-8b601488d48e",
      "name": "Send a message",
      "webhookId": "37830b49-275c-4256-91be-52a15b5d8c6d",
      "credentials": {
        "discordBotApi": {
          "id": "daNESjyl8DcVaBZ1",
          "name": "Redmi"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "fields": [
          "names",
          "phoneNumbers"
        ],
        "useQuery": true,
        "query": "={{ $json.content.split(\"\\n\")[0] }}"
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        -224,
        -256
      ],
      "id": "2a88148a-eb38-450b-acb7-032b87653668",
      "name": "Get many contacts",
      "alwaysOutputData": true,
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "0NvIiVSWc6zbmjX7",
          "name": "Redmi"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On Discord DM": {
      "main": [
        [
          {
            "node": "Get many contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6ae548d9-a076-4b76-a536-95289b7b5fa6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b236d6a0553c9e875e34c327be292e58e9d17db4065ace6cec462abff30df1b"
  },
  "id": "MOGWJwDqruirKtyK",
  "tags": []
}