FoxBrain_AI_Agent/Dataflow/Dataflow_GoogleDrive.json
{
  "name": "Dataflow_GoogleDrive",
  "nodes": [
    {
      "parameters": {
        "content": "### Step 2 · Search\nLists files in Foxtrot folder.",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        1168
      ],
      "id": "a9d4f914-b20a-46b5-8ebc-48041f7b1dd6",
      "name": "Note: Search"
    },
    {
      "parameters": {
        "content": "### Step 3 · Download\nFetches file content from Drive.",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        1168
      ],
      "id": "1e503974-2939-4e62-bc11-3bb2138c0090",
      "name": "Note: Download"
    },
    {
      "parameters": {
        "content": "### Step 4 · Embed\nHuggingFace embeddings → Pinecone (foxtrot index).",
        "height": 88,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        1152
      ],
      "id": "c5922281-e0af-4330-9ae1-fcebf08c4857",
      "name": "Note: Embed"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1WeFNz2n_X1bupucKQUxwu8AdtBEsigA9",
            "mode": "list",
            "cachedResultName": "Foxtrot",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1WeFNz2n_X1bupucKQUxwu8AdtBEsigA9"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        1264
      ],
      "id": "620e44ff-3f64-4eaa-83fd-833f54fafcd8",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "njW4OhldpH2Hw5CD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        1264
      ],
      "id": "906ed2d2-f6f4-4504-9fa5-cabb597e6ca4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "njW4OhldpH2Hw5CD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1888,
        1472
      ],
      "id": "bc67978a-5de7-451f-89f7-35a3627c3b69",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "Puj4ABqqOm5gnV5h",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2032,
        1472
      ],
      "id": "f71f642c-5df8-4d02-a25b-5c8fa8121143",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "foxtrot",
          "mode": "list",
          "cachedResultName": "foxtrot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1888,
        1264
      ],
      "id": "e4d9940d-6a2d-4d5f-b007-773cfc3190e5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "vBWyTZCJj0o7FHuF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Setup\nConfigure Google Drive folder ID (Foxtrot). Add Pinecone + HuggingFace credentials.",
        "height": 116,
        "width": 484
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        1008
      ],
      "id": "f6b27f60-e73e-4a96-8976-833e762e774f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Step 1 · Trigger\nExecute workflow manually.",
        "height": 80,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        1168
      ],
      "id": "6f89d95a-24d5-4188-a77f-added9eb1b7d",
      "name": "Note: Trigger1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1248,
        1264
      ],
      "id": "751a9ab6-b159-42c5-98d3-9666c57b022e",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cfe027f1-34ba-4578-8b0b-ce84d9e6beba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b236d6a0553c9e875e34c327be292e58e9d17db4065ace6cec462abff30df1b"
  },
  "id": "0OB5cX8dNwtfNVeN",
  "tags": []
}