FoxBrain_AI_Agent/Dataflow/Foxtrot_DataFlow_Child.json
{
  "name": "Foxtrot_DataFlow_Child",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        112
      ],
      "id": "8567b727-f2c0-4462-a268-826f0cf44c4c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Team-Foxtrot-GIKI/{{ $node[\"Execute Workflow Trigger\"].json[\"name\"] }}/branches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        112
      ],
      "id": "5bfb058c-d27f-4b06-9db1-8aa64a3e7683",
      "name": "Get Branches for Repo",
      "credentials": {
        "githubApi": {
          "id": "5hlVXiIYuzDQjW7T",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        112
      ],
      "id": "2f2c49a7-62f0-4d34-8143-bab20f699101",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Vm61LRn7RSNHhNneapmX2",
          "mode": "list",
          "cachedResultUrl": "/workflow/Vm61LRn7RSNHhNneapmX2",
          "cachedResultName": "Foxtrot_DataFlow_GrandChild"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        800,
        112
      ],
      "id": "3579c3bd-858b-4945-87ff-578680828d5a",
      "name": "Call 'Foxtrot_DataFlow_GrandChild'",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "**1. Entry Point**\nReceives a specific repository name from the Parent workflow.",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        0
      ],
      "typeVersion": 1,
      "id": "7c49d769-bc97-4391-9449-63d951afd9a1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**2. Fetch Branches**\nCalls the GitHub API to list all existing branches for the provided repository.",
        "height": 96,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -16
      ],
      "typeVersion": 1,
      "id": "0304ec76-0d0d-4e62-902f-06d8c79d5198",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**3. Loop Branches**\nIterates through the retrieved branches one-by-one to ensure every branch gets processed.",
        "height": 112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -16
      ],
      "typeVersion": 1,
      "id": "b202cb37-059a-4db5-9432-8d2dae92abea",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**4. Format Payload**\nCombines the original 'repo_name' and the current 'branch_name' into a single payload to pass forward.",
        "height": 112,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -112
      ],
      "typeVersion": 1,
      "id": "6e24c3eb-0fa8-49a5-83a5-490d5cf203e2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**5. Trigger GrandChild**\nSends the repo & branch payload to the GrandChild workflow, which will fetch and embed the actual code files.",
        "height": 128,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        -48
      ],
      "typeVersion": 1,
      "id": "2a42863d-482c-48f7-96dd-6e1dd8dedadd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**Workflow Purpose**\nActs as the bridge: Parent (Repos) -> Child (Branches) -> GrandChild (Files). It prevents the GrandChild from only downloading the 'main' branch.",
        "height": 128,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        352
      ],
      "typeVersion": 1,
      "id": "5cb361d3-c926-404f-90f1-efd40dc1e481",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72975dfc-d2c2-4bb1-9f5e-471a6903bf00",
              "name": "repo_name",
              "value": "={{ $node[\"Execute Workflow Trigger\"].json[\"name\"] }}",
              "type": "string"
            },
            {
              "id": "19e6d7c2-a93e-43fe-820d-4a618cc1b8e6",
              "name": "branch_name",
              "value": "={{ $json[\"name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        32
      ],
      "id": "27adfb3c-bffe-4326-b682-172e86a0873b",
      "name": "Format Branch Payload"
    },
    {
      "parameters": {
        "content": "## Setup\nReceives repo name from Parent. Fetches all branches via GitHub API and loops through them to ensure multi-branch coverage in Pinecone.",
        "height": 144,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        -240
      ],
      "typeVersion": 1,
      "id": "3bacb4db-1fad-4489-8e9e-bab3c91e4fac",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Format Branch Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Branches for Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Branches for Repo": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Foxtrot_DataFlow_GrandChild'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Branch Payload": {
      "main": [
        [
          {
            "node": "Call 'Foxtrot_DataFlow_GrandChild'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d5b0ceb5-277c-48cc-bf7f-45c577f3efd8",
  "meta": {
    "instanceId": "84477c8594e4e5fa1a85df07d16feed30068678c5643e6e958310722165b467f"
  },
  "id": "v01KWKbuvdwYAlO01-BsB",
  "tags": []
}