FoxBrain_AI_Agent/Dataflow/Live_GitHub_Commit_Pinecone_Update.json
{
  "name": "Live_GitHub_Commit_Pinecone_Update",
  "nodes": [
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test"
        },
        "options": {}
      },
      "id": "6b16079e-24d2-4ed2-b802-bf974ad3290d",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        448,
        160
      ],
      "credentials": {
        "pineconeApi": {
          "id": "vBWyTZCJj0o7FHuF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        528,
        368
      ],
      "id": "82cb2818-de6b-45ff-8cf1-3b04e2253ee1",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "Puj4ABqqOm5gnV5h",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "repo",
                "value": "={{ $('Extract Push Metadata').item.json.repo_name }}"
              },
              {
                "name": "branch",
                "value": "={{ $('Extract Push Metadata').item.json.branch_name }}"
              },
              {
                "name": "filePath",
                "value": "={{ $('Extract Push Metadata').item.json.path }}"
              },
              {
                "name": "fileName",
                "value": "={{ $('Extract Push Metadata').item.json.name }}"
              },
              {
                "name": "fileExtension",
                "value": "={{ $('Extract Push Metadata').item.json.name.split('.').pop() }}"
              },
              {
                "name": "source",
                "value": "=https://github.com/Team-Foxtrot-GIKI/{{ $('Extract Push Metadata').item.json.repo_name }}/blob/{{ $('Extract Push Metadata').item.json.branch_name }}/{{ $('Extract Push Metadata').item.json.path }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1184,
        160
      ],
      "id": "0263cda8-8e38-46e3-86e7-ab1705ad2f82",
      "name": "Document Loader",
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1056,
        160
      ],
      "id": "12bc1420-8ba4-42d0-8fbd-44f5e274842d",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "Puj4ABqqOm5gnV5h",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-org-push",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -64
      ],
      "id": "12c5495e-1800-4c01-af83-4ef3a1b38fe7",
      "name": "GitHub Push Trigger",
      "webhookId": "e14cfcf1-ce36-4f58-8120-0013c1bab885"
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const vectorStore = await this.getInputConnectionData('ai_vectorStore', 0);\n\n// Loop through every file that was changed in the GitHub push\nfor (const item of $input.all()) {\n  await vectorStore.delete({\n    filter: {\n      repo: item.json.repo_name,\n      branch: item.json.branch_name,\n      filePath: item.json.path\n    }\n  });\n}\n\n// Pass the file data forward to the next node\nreturn $input.all();"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "main",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "ai_vectorStore",
              "maxConnections": 1,
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "id": "c4417006-2e71-421b-84d5-29d33e21b27a",
      "name": "Delete Old Vectors",
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        464,
        -64
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1040,
        -64
      ],
      "id": "93f55520-d67c-47f8-8117-95fb70f4a92b",
      "name": "Insert New Vectors",
      "notesInFlow": false,
      "credentials": {
        "pineconeApi": {
          "id": "vBWyTZCJj0o7FHuF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Live Update Pipeline (Webhook)\nListens to the Team Foxtrot GitHub organization for any new pushes. Automatically deletes old vector chunks to prevent duplication, then downloads and embeds the fresh code into FoxBrain.",
        "height": 128,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -368
      ],
      "typeVersion": 1,
      "id": "46036959-68d0-418b-826b-e08b2ebc035f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const changedFiles = [];\nconst payload = $input.item.json.body || $input.item.json;\n\nconst repoName = payload.repository.name;\nconst branchName = payload.ref.replace('refs/heads/', '');\n\nfor (const commit of payload.commits) {\n  const filesToUpdate = [...commit.added, ...commit.modified];\n  \n  for (const filePath of filesToUpdate) {\n    changedFiles.push({\n      json: {\n        repo_name: repoName,\n        branch_name: branchName,\n        path: filePath,\n        name: filePath.split('/').pop() \n      }\n    });\n  }\n}\n\nreturn changedFiles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -64
      ],
      "id": "6424a91b-8d5e-430e-9ead-f4ddc25314d7",
      "name": "Extract Push Metadata"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Team-Foxtrot-GIKI/{{ $json.repo_name }}/contents/{{ $json.path }}?ref={{ $json.branch_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.raw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        -64
      ],
      "id": "7c9d8064-3f32-4bfe-ac84-ed21cfead4e4",
      "name": "Download Fresh Code",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "ow5bi6L0zdcGXQtN",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "### 1. Catch & Extract\nCatches the push payload from GitHub. The JavaScript node iterates through the commits and extracts the `repo_name`, `branch`, and `path` for any added or modified files.",
        "height": 304,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -192
      ],
      "typeVersion": 1,
      "id": "8ff07545-12b5-4bd7-b10d-d723d65196e9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 2. Prevent Duplicates (Self-Cleaning)\nUses the extracted metadata to hunt down and delete the outdated chunks of the modified file in Pinecone. This ensures the AI never reads conflicting versions of the same script.",
        "height": 720,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -192
      ],
      "typeVersion": 1,
      "id": "51f5f756-4713-4ab1-977b-73d40aca87d7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### 3. Fetch & Embed\nCalls the GitHub API to download the raw code text. The Document Loader chunks the fresh code, maps the metadata back to the JavaScript node, and inserts the updated vectors.",
        "height": 528,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        -192
      ],
      "typeVersion": 1,
      "id": "125bb1aa-aca2-4b53-bd6d-3470754f9c67",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Delete Old Vectors",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Insert New Vectors",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Insert New Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Push Trigger": {
      "main": [
        [
          {
            "node": "Extract Push Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Vectors": {
      "main": [
        [
          {
            "node": "Download Fresh Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Push Metadata": {
      "main": [
        [
          {
            "node": "Delete Old Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Fresh Code": {
      "main": [
        [
          {
            "node": "Insert New Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c59a85ca-86f0-4347-90a7-a4011c69162c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b236d6a0553c9e875e34c327be292e58e9d17db4065ace6cec462abff30df1b"
  },
  "id": "nGSAcQCQjbAG4wdl",
  "tags": []
}