FoxBrain_AI_Agent/RAGAgent.json
{
  "name": "RAGAgent",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Setup\nWebhook receives chat from frontend. Ensure prompt includes `message` + formatted `history` (role: content).",
        "height": 140,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -64
      ],
      "id": "0304afe4-5ff4-495c-aa60-2468ac6f5b3a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 2. Incoming Request\nPOST webhook triggers the RAG chain.",
        "height": 228,
        "width": 220,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        112
      ],
      "id": "859e9fb3-dfb3-45f6-9b52-ae537066261d",
      "name": "Note: Webhook"
    },
    {
      "parameters": {
        "content": "### 3. RAG Pipeline\nGemini + Pinecone retrieval. Answers from Team Foxtrot codebase only.",
        "height": 596,
        "width": 636,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        128
      ],
      "id": "91209703-2b15-42f8-af5a-584b14e8431c",
      "name": "Note: RAG Pipeline"
    },
    {
      "parameters": {
        "content": "### 4. Response\nSends AI reply back to frontend.",
        "height": 260,
        "width": 232,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        128
      ],
      "id": "4ee7d303-52da-4772-a52f-1ff2ee8df9dd",
      "name": "Note: Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "de82c344-f9dd-466d-ae72-7fc7eedb5dc2",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        208
      ],
      "id": "bc4ba830-12dd-42f1-8fa5-bf600edcdd5a",
      "name": "Webhook",
      "webhookId": "de82c344-f9dd-466d-ae72-7fc7eedb5dc2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}\n\nConversation history:\n{{ ($json.body.history || []).map(h => `${h.role}: ${h.content}`).join('\\n') }}",
        "options": {
          "systemMessage": "You are FoxBrain, the official AI knowledge assistant for Team Foxtrot (SDES) at GIKI. Your role is to help freshers understand the team's repositories, codebases, architecture, workflows, and technical concepts using the retrieved context from the vector database. Always base your answers strictly on the provided retrieved content. If the context is partially relevant, extract the useful parts and clearly explain them. If the context is completely unrelated, politely say you do not have enough information. When explaining, assume the user may be a fresher with limited technical background. Break down complex ideas into simple terms, define technical terminology in easy language, explain why something is used, and describe how components connect together step by step. Avoid unnecessary jargon, and when you must use technical terms, briefly explain them. If referencing code, clearly mention the file name and repository. Maintain a supportive, encouraging tone so users feel comfortable asking follow-up questions. Your goal is not just to answer, but to teach and build understanding."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        240
      ],
      "id": "50687f78-7149-4176-8938-bab8264b2ac5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        560,
        528
      ],
      "id": "bb794a68-9cf2-43b3-aa68-735905bd0f9c",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "Puj4ABqqOm5gnV5h",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        432
      ],
      "id": "4f3eaa5d-2c71-43a9-856b-381374acd40d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tvo5P4AcOSMM65Cs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Team Foxtrot's entire codebase and documentation. Contains Python scripts (.py), Markdown docs (.md), Lua drone autopilot code (.lua), Jupyter Notebooks (.ipynb), YAML configs (.yaml/.yml), plain text (.txt), and waypoint files (.waypoints) from all repositories in the Team-Foxtrot-GIKI GitHub organization. Use this tool for ANY question about Team Foxtrot's projects including: setup guides, installation instructions, code explanations, function implementations, drone configurations, ROS setup, DroneKit usage, MAVLink communication, project structure, and getting started guides. Always use this tool before answering — do not guess or use general knowledge.",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "foxtrot"
        },
        "topK": 15,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        560,
        384
      ],
      "id": "e9b05715-500f-44a0-a8c7-1634958f1a73",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "vBWyTZCJj0o7FHuF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        240
      ],
      "id": "bbcfa745-c85e-4545-b7d1-e1fd6b74dbc2",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e83ef1c3-c274-441f-90a2-341ba045b22f",
  "meta": {
    "instanceId": "4b236d6a0553c9e875e34c327be292e58e9d17db4065ace6cec462abff30df1b"
  },
  "id": "MfiAtLaHGdpRaRvb",
  "tags": []
}