Clickup_Integration_With_Discord_Bot/Clickup_Task_Created.json
{
  "name": "Clickup_Task_Created",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0",
          "mode": "list",
          "cachedResultName": "Foxtrot-Discord-IDs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XRrCoTOCL6hleeIXYszrScTZs80YOitZZ8D7YCww5R0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.history_items[0].user.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "530ef168-fb91-4757-a29f-2affda67af0e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1GmWYDKyggEBAWuE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $('ClickUp Trigger').item.json.task_id }}",
        "includeMarkdownDescription": true
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "716ac761-8b32-455a-b068-aeaee6794fea",
      "name": "Get a task",
      "credentials": {
        "clickUpApi": {
          "id": "h8uGHswZggddN7Ox",
          "name": "Foxtrot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "930299818440540171",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $node[\"Get row(s) in sheet\"].json[\"UserID\"] }}",
          "mode": "id"
        },
        "content": "=🚀 **New Task Assigned**\n**Task Name:** {{ $node[\"Get a task\"].json.name }}\n**Assigned By:** {{ $node[\"Get a task\"].json.creator.username }}\n\n**Description:**\n{{ $node[\"Get a task\"].json.description }}\n\n**Status:** {{ $node[\"Get a task\"].json.status.status.toUpperCase() }}\n**Direct Link:** https://app.clickup.com/t/{{ $node[\"Get a task\"].json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        864,
        -80
      ],
      "id": "c7dfa844-f1a6-4e4b-bf7c-aac695e67658",
      "name": "Send a message",
      "webhookId": "15def6b8-98a6-4664-88d6-3aa6da0d9c14",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "discordBotApi": {
          "id": "hJb4171ULin4wUSl",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "team": "90181285101",
        "events": [
          "taskCreated"
        ],
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "60df48e9-6129-4339-9c62-9f07b7396c59",
      "name": "ClickUp Trigger",
      "webhookId": "da5eff5c-9964-4232-be11-2c71bd6cf02e",
      "credentials": {
        "clickUpApi": {
          "id": "h8uGHswZggddN7Ox",
          "name": "Foxtrot"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        208
      ],
      "id": "bc5bab6f-4e19-48a8-9694-5af4ca8b81b6",
      "name": "Wait",
      "webhookId": "c98e5300-5c32-47a2-8dd1-7b3ce3ee32a5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        64
      ],
      "id": "76adc7e9-c7e1-4102-8dca-3148414f18ae",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dff90ca3-1263-4d03-955d-c32686442db3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b236d6a0553c9e875e34c327be292e58e9d17db4065ace6cec462abff30df1b"
  },
  "id": "fOgTdM9y76BOcgJp",
  "tags": []
}